#editor
	--width: calc(min(50rem, 100vw) - 0px)

	bottom: 0
	left: calc((100vw - var(--width))/2)
	height: 50vh
	width: var(--width)
	font-size: inherit
	font-family: inherit
	color: inherit
	background: linear-gradient(#0000, #0008)
	border-top: 1px solid rgba(255 255 255 / 20%)
	caret-color: #f44
